* {
    box-sizing: border-box;
}

h1 {
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 25px;
}

p {
    padding: 18px 8px 0px 8px;
    font-family: Arial Narrow;
    font-weight: bolder;
    font-size: 18px;
    position: relative;
}

.section {
    background-color: rgb(150, 150, 150);
    border: 2px solid black;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 3px;
    text-align: justify;
    position: relative;
}

span {
    font-size: 20px;
    border: 1px solid black;
    font-weight: bold;
    text-align: center;
    float: right;
    top: 0;
    right: 0;
    margin: 0;
    position: absolute;
}

#chick {
    background-color: rgb(250, 150, 150);
    color: rgb(0, 0, 0);
    font-family: Arial Narrow;
    font-weight: bolder;
    border:black solid 2px;
    border-top: 0;
    height:30px;
    width:100px;
}

#beef {
    background-color: rgb(250, 0, 0);
    color: rgb(250, 250, 250);
    font-family: Arial Narrow;
    font-weight: bolder;
    border: black solid 2px;
    border-top: 0;
    height: 30px;
    width: 100px;
}

#sushi {
    background-color: rgb(200, 200, 100);
    color: rgb(0, 0, 0);
    font-family: Arial Narrow;
    font-weight: bolder;
    border: black solid 2px;
    border-top: 0;
    height: 30px;
    width: 100px;
}

.titl {
    width: 100%;
}
@media (min-width: 992px) {

    .col-lg-4 {
        width: 33.33%;
        float: left;
    }
}
@media (min-width: 768px) and (max-width: 991px) {

    .col-md-6 {
        width: 50%;
        float: left;
    }

    .col-md-12 {
        width: 100%;
        float: left;
    }
}
@media (max-width: 767px) {

    .col-sx-12 {
        height: 100%;
    }
}